这个是纯粹的社会工程方法了
从维基百科以及其他网站爬了可能的 Titanic 遇难者与获救者名单，然后与需要测试的进行逐一比较，看看有多少能匹配上

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import seaborn as sns
import pickle
import matplotlib.pyplot as plt
from matplotlib import rcParams
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')
# display Chinese characters
rcParams['font.family'] = "FZXiHei I-Z08S"
rcParams['font.size'] = '14'

定义几个函数

In [8]:
normalizeChars = {
    'Š':'S', 'š':'s', 'Ð':'Dj','Ž':'Z', 'ž':'z', 'À':'A', 'Á':'A', 'Â':'A', 'Ã':'A', 'Ä':'A',
    'Å':'A', 'Æ':'A', 'Ç':'C', 'È':'E', 'É':'E', 'Ê':'E', 'Ë':'E', 'Ì':'I', 'Í':'I', 'Î':'I',
    'Ï':'I', 'Ñ':'N', 'Ń':'N', 'Ò':'O', 'Ó':'O', 'Ô':'O', 'Õ':'O', 'Ö':'O', 'Ø':'O', 'Ù':'U', 'Ú':'U',
    'Û':'U', 'Ü':'U', 'Ý':'Y', 'Þ':'B', 'ß':'Ss','à':'a', 'á':'a', 'â':'a', 'ã':'a', 'ä':'a',
    'å':'a', 'æ':'a', 'ç':'c', 'è':'e', 'é':'e', 'ê':'e', 'ë':'e', 'ì':'i', 'í':'i', 'î':'i',
    'ï':'i', 'ð':'o', 'ñ':'n', 'ń':'n', 'ò':'o', 'ó':'o', 'ô':'o', 'õ':'o', 'ö':'o', 'ø':'o', 'ù':'u',
    'ú':'u', 'û':'u', 'ü':'u', 'ý':'y', 'ý':'y', 'þ':'b', 'ÿ':'y', 'ƒ':'f',
    'ă':'a', 'î':'i', 'â':'a', 'ș':'s', 'ț':'t', 'Ă':'A', 'Î':'I', 'Â':'A', 'Ș':'S', 'Ț':'T',
}
def get_passenger(tds):
    passenger = {}
    name =  tds[0].get_text().strip()
    # 非ascii字母替换
    name = ''.join([normalizeChars.get(y,y) for y in name])
    passenger['Name'] = tds[0].get_text().strip().replace('"','')
    passenger['Age'] = tds[1].get_text().strip()
    pclass =  tds[2].get_text().strip().split(' ')[0]
    passenger['Pclass'] = pclass_map.get(pclass,0)
    return passenger

从 survivors.html 文件中整理出生还者名单

In [9]:
scont = open('./survivors.html','rb').read()
shtml = bs(scont, 'html5lib')
survivors=[]
pclass_map = {'1st':1,'2nd':2,'3rd':3}

for tr in shtml.find_all('tr'):
    sur = {}
    tds = tr.find_all('td')
    if tds:
        survivors.append(get_passenger(tds)) 
    else:
        print("not found",tr)

从 victims.html 中整理遇难者名单

In [10]:
cont = open('./victims.html','rb').read()
html = bs(cont,'html5lib')
victims=[]
pclass_map = {'1st':1,'2nd':2,'3rd':3}
for tr in html.find_all('tr'):
    vic = {}
    tds = tr.find_all('td')
    if tds:
        victims.append(get_passenger(tds)) 
    else:
        print("not found", tr)

In [12]:
vdf = pd.DataFrame(victims)
sdf = pd.DataFrame(survivors)

In [14]:
sdf.Name

0                          ABBOTT, Mrs Rhoda Mary 'Rosa'
1                          ABELSETH, Mr Olaus JÃ¸rgensen
2                             ABELSETH, Miss Karen Marie
3                                    ABELSON, Mrs Hannah
4                       ABÄ«-AL-MUNÃ , Mr NÄ�sÄ«f QÄ�sim
5                ABRAHAMSSON, Mr August Abraham Johannes
6                                     AKS, Master Philip
7                                          AKS, Mrs Leah
8                       AL ZA INNÄ«, Mr FahÄ«m RÅ«hÄ�nÄ�
9                             ALLEN, Mr Ernest Frederick
10                          ALLEN, Miss Elisabeth Walton
11                         ALLISON, Master Hudson Trevor
12        ANDERSEN-JENSEN, Miss Carla Christine Nielsine
13                                     ANDERSON, Mr John
14                                    ANDERSON, Mr Henry
15                        ANDERSSON, Miss Erna Alexandra
16                      ANDREWS, Miss Kornelia Theodosia
17                            ANDREWS, Mr Charles Edward
18                             ANGLE, Mrs Florence Agnes
19                               APPLETON, Mrs Charlotte
20                              ARCHER, Mr Ernest Edward
21                         ASPLUND, Miss Lillian Gertrud
22                     ASPLUND, Mrs Selma Augusta Emilia
23                             ASPLUND, Mr Johan Charles
24                      ASPLUND, Master Edvin Rojj Felix
25                                    ASSAF, Mrs Mariana
26                          ASTOR, Mrs Madeleine Talmage
27                        AUBART, Mme. LÃ©ontine Pauline
28                                AVERY, Mr James Albert
29                         AYYÅ«B-DÄ�HIR, Miss BannÅ«rah
                             ...
682                              WHEAT, Mr Joseph Thomas
683                          WHEELTON, Mr Edenser Edward
684                                  WHILEMS, Mr Charles
685                                      WHITE, Mrs Ella
686                             WHITE, Mr William George
687                                     WHITE, Mr Alfred
688                           WHITELEY, Mr Thomas Arthur
689                              WICK, Miss Mary Natalie
690                               WICK, Mrs Mary Peebles
691                                 WIDENER, Mrs Eleanor
692                             WIDGERY, Mr Isaac George
693                                    WILKES, Mrs Ellen
694                        WILKINSON, Mrs Elizabeth Anne
695                              WILLARD, Miss Constance
696                             WILLIAMS, Mr Walter John
697                       WILLIAMS, Mr Richard Norris II
698                          WILLIAMS, Mr Charles Eugene
699                             WILSON, Miss Helen Alice
700                           WINDEBANK, Mr Alfred Edgar
701                    WITTER, Mr James William Cheetham
702                                     WOOLNER, Mr Hugh
703                                   WRIGHT, Mr William
704                                  WRIGHT, Miss Marion
705                                     WYNN, Mr William
706    YAZBAK, Mrs SÄ«lÄ�nah Iskandar NÄ�sÄ«f AbÄ« DÄ...
707                                   YEARSLEY, Mr Harry
708                              YOUNG, Miss Marie Grice
709                                    YÅ«SUF, Miss Anna
710                                 YÅ«SUF, Mrs KÄ�trÄ«n
711                          Ã˜STBY, Miss Helen Ragnhild
Name: Name, Length: 712, dtype: object