初赛提供2012年1月-2017年10月盐城分车型销量配置数据，  参赛者允许使用任何可公开的外部数据辅助预测。 
初赛分为两个阶段，第一阶段需要参赛者预测2017年11月盐城分车型销量数据，第二阶段需要参赛者预测2017年12月盐城分车型销量数据。
第一阶段评测时间：2018年1月15日-2月25日
第二阶段评测时间：2018年2月26日-2月27日

数据时长：2012年1月 至 2017年10月

|                         |              |                                     |
|-------------------------|--------------|-------------------------------------|
| **字段**                | **含义**     | **示例**                            |
| sale\_date              | 销售日期     | 201201                              |
| class\_id               | 车型ID       | 234567                              |
| sale\_quantity          | 销量         | 15                                  |
| brand\_id               | 品牌ID       | 234                                 |
| compartment             | 厢数         | 3                                   |
| type\_id                | 车型类别ID   | 1                                   |
| level\_id               | 车型级别ID   | 1                                   |
| department\_id          | 车型系别ID   | 1                                   |
| TR                      | 变速器档位   | 6                                   |
| gearbox\_type           | 变速器形式   | AT                                  |
| displacement            | 排量         | 2.5                                 |
| if\_charging            | 是否增压     | L                                   |
| price\_level            | 成交段       | 35-50W（“W”：万元，“WL”：万元以下） |
| driven\_type\_id        | 驱动形式ID   | 1                                   |
| fuel\_type\_id          | 燃料种类ID   | 1                                   |
| newenergy\_type\_id     | 新能源类型ID | 1                                   |
| emission\_standards\_id | 排放标准ID   | 1                                   |
| if\_MPV\_id             | 是否微客MPV  | 1                                   |
| if\_luxurious\_id       | 是否豪华ID   | 1                                   |
| power                   | 功率         | 160                                 |
| cylinder\_number        | 缸数         | 6                                   |
| engine\_torque          | 发动机扭矩   | 250                                 |
| car\_length             | 车长         | 4531                                |
| car\_width              | 车宽         | 1817                                |
| car\_height             | 车高         | 1421                                |
| total\_quality          | 总质量       | 1980                                |
| equipment\_quality      | 整备质量     | 1565                                |
| rated\_passenger        | 额定载客     | 5                                   |
| wheelbase               | 轴距         | 2760                                |
| front\_track            | 前轮距       | 1500                                |
| rear\_track             | 后轮距       | 1529                                |


** 参赛者需提交的结果数据**

|**字段**   | **含义**   | **示例** |
|---------|-------------|-------- |
|predict_date      |预测日期   | 201711 |
|class_id | 车型ID | 123456 |
|predict_quantity | 预测销量 | 1234 |


|字段|sale_date|class_id|sale_quantity|brand_id|compartment|type_id|level_id|department_id|TR|gearbox_type|
|---|---------|--------|-------------|--------|-----------|-------|---------|------------|--|------------|
|含义|销售日期|车型ID|销量|品牌ID|厢数|车型类别ID|车型级别ID|车型系别ID|变速器档位|变速器形式|
|示例|201201|234567|15|234|3|1|1|1|6|AT|

|字段|displacement|if_charging|price_level|driven_type_id|fuel_type_id|newenergy_type_id|emission_standards_id|if_MPV_id|if_luxurious_id|power|
|---|---------|--------|-------------|--------|-----------|-------|---------|------------|--|------------|
|含义|排量|是否增压|成交段|驱动形式ID|燃料种类ID|新能源类型ID|排放标准ID|是否微客MPV|是否豪华ID|功率|
|示例|2.5|L|35-50W（“W”：万元，“WL”：万元以下）|1|1|1|1|1|1|160|

|字段|cylinder_number|engine_torque|car_length|car_width|car_height|total_quality|equipment_quality|rated_passenger|wheelbase|front_track|rear_track|
|---|---------|--------|-------------|--------|-----------|-------|---------|------------|--|------------|
|含义|缸数|发动机扭矩|车长|车宽|车高|总质量|整备质量|额定载客|轴距|前轮距|后轮距|
|示例|6|250|4531|1817|1421|1980|1565|5|2760|1500|1529|


**初赛结果评价指标**

主办方将依据参赛者提供的最终预测结果进行评价，评价指标的计算公式为：

$$ \varepsilon 
 = \sqrt{\frac{\Sigma_{i=1}^{n}{(p_i - a_i)^2}}{n}} $$
 
其中:

1. $\varepsilon$ 参赛者最终分数
2. $n$ 测试样本总量
3. $p_i$ 第$i$个测试样本的预测值
4. $a_i$ 第$i$个测试样本的真实值

In [4]:
%matplotlib inline
from __future__ import print_function
from __future__ import division
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNetCV, LassoCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from sklearn.learning_curve import learning_curve
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder, LabelBinarizer
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from scipy import stats

pd.set_option('mode.chained_assignment',None)

/usr/local/lib64/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib64/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [19]:
def get_score(y_pred, y):
    return np.sqrt(np.mean((y_pred - y)**2))

def get_mean(x):
    """
    x like 7-8
    return int (7+8) /2 
    """
    if '-' in x:
        return round(np.mean([int(i) for i in x.split('-')]))
    else:
        return x
def get_price(x,label):
    """
    15-25w
    low: 15
    high: 25
    5wl
    low:0
    high:5
    """
    x = x.lower()
    if '-' in x:
        x1, x2 = x.replace('w','').split('-')
    elif x.endswith('l'):
        x1 = 0
        x2 = x.replace('wl','')
    if label == 'low':
        return x1
    elif label == 'high':
        return x2
    elif label == 'mean':
        return (float(x1) + float(x2)) / 2

def eval_model(alg, train_data, y, usenormal=False):
    print("eval model", alg)
    X_train, X_test, y_train, y_test = train_test_split(train_data, y, test_size=0.2, random_state=0)
    pred = alg.fit(X_train, y_train).predict(X_test)
    if usenormal:
        print("score:", get_score(np.expm1(pred), np.expm1(y_test)))
    else:
        print("score:", get_score(pred, y_test))
    return True

def plot_learning_curve(estimator, title, X, y, ylim=None, cv=None, n_jobs=1, 
                        train_sizes=np.linspace(.05, 1., 20), verbose=0, plot=True):
    """
    画出data在某模型上的learning curve.
    参数解释
    ----------
    estimator : 你用的分类器。
    title : 表格的标题。
    X : 输入的feature，numpy类型
    y : 输入的target vector
    ylim : tuple格式的(ymin, ymax), 设定图像中纵坐标的最低点和最高点
    cv : 做cross-validation的时候，数据分成的份数，其中一份作为cv集，其余n-1份作为training(默认为3份)
    n_jobs : 并行的的任务数(默认1)
    """
    train_sizes, train_scores, test_scores = learning_curve(
        estimator, X, y, cv=cv, n_jobs=n_jobs, train_sizes=train_sizes, verbose=verbose)
    
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    
    if plot:
        plt.figure()
        plt.title(title)
        if ylim is not None:
            plt.ylim(*ylim)
        plt.xlabel(u"train sample")
        plt.ylabel(u"score")
        plt.gca().invert_yaxis()
        plt.grid()
    
        plt.fill_between(train_sizes, train_scores_mean - train_scores_std, train_scores_mean + train_scores_std, 
                         alpha=0.1, color="b")
        plt.fill_between(train_sizes, test_scores_mean - test_scores_std, test_scores_mean + test_scores_std, 
                         alpha=0.1, color="r")
        plt.plot(train_sizes, train_scores_mean, 'o-', color="b", label=u"score with train")
        plt.plot(train_sizes, test_scores_mean, 'o-', color="r", label=u"score with valid")
    
        plt.legend(loc="best")
        
        plt.draw()
        plt.gca().invert_yaxis()
        plt.show()
    
    midpoint = ((train_scores_mean[-1] + train_scores_std[-1]) + (test_scores_mean[-1] - test_scores_std[-1])) / 2
    diff = (train_scores_mean[-1] + train_scores_std[-1]) - (test_scores_mean[-1] - test_scores_std[-1])
    return midpoint, diff

In [6]:
df_train = pd.read_csv('./input/yancheng_train_20171226.csv',  low_memory=False)
df_test  = pd.read_csv('./input/yancheng_testA_20171225.csv',  low_memory=False)
y  = df_train['sale_quantity']
print("train shape:",df_train.shape)
print("test shape:", df_test.shape)

train shape: (20157, 32)
test shape: (140, 3)

每一个 class_id 其实还有细分，但是预测里只需要针对 class_id 进行预测。

因此考虑一个方法是找到每一个 class_id 里最大销量的那个型号，用这个型号作为该 class_id 的全部型号
然后把这个这个 class_id 下的每一月的销售和进行汇总。最后的训练集结果就是每一个 class_id 下每一月只有一条记录。

In [7]:
car_info = pd.DataFrame()
k = df_train.groupby(['class_id'])['sale_quantity'].max()
for class_id, max_sale_quantity in zip(k.index,k.values):
    #find the record
    res = df_train[df_train.class_id == class_id][df_train.sale_quantity == max_sale_quantity].iloc[:,3:]
    res.insert(0,'class_id', class_id)
    car_info = car_info.append(res, ignore_index=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [8]:
len(df_train['class_id'].unique())

140

In [9]:
clean_traindata = pd.DataFrame()
grp = df_train.groupby(['class_id','sale_date'])
sq = grp['sale_quantity'].sum()
for class_id, month in grp.groups.keys():
    res = car_info[car_info.class_id == class_id].copy()
    res.insert(1,'sale_quantity',sq[class_id, month])
    #res.insert(0,'class_id', class_id)
    res.insert(0,'sale_date', month)
    clean_traindata = clean_traindata.append(res)

In [10]:
clean_traindata[clean_traindata.class_id == 103507].head(2)

,sale_date,class_id,sale_quantity,brand_id,compartment,type_id,level_id,department_id,TR,gearbox_type,...,engine_torque,car_length,car_width,car_height,total_quality,equipment_quality,rated_passenger,wheelbase,front_track,rear_track
0,201503,103507,58,831,2,1,3,3,6,AT,...,150.7,4270,1780,1630,1830,1325,5,2590,1557,1570
0,201504,103507,232,831,2,1,3,3,6,AT,...,150.7,4270,1780,1630,1830,1325,5,2590,1557,1570

In [11]:
# 填补缺失的价格
clean_traindata['price'][clean_traindata.price == '-'] = clean_traindata['price_level'][clean_traindata.price == '-'].apply(lambda x: get_price(x, 'mean'))

In [12]:
clean_traindata['TR'][clean_traindata.TR.str.contains(';')] = clean_traindata['TR'][clean_traindata.TR.str.contains(';')].apply(lambda x: x.split(';')[0])
clean_traindata['engine_torque'][clean_traindata.engine_torque == '155/140'] = 155
clean_traindata['power'][clean_traindata.power == '81/70'] = 81
clean_traindata['engine_torque'][clean_traindata.engine_torque == '-'] = 0
clean_traindata['level_id'][clean_traindata.level_id == '-'] = 1
clean_traindata['fuel_type_id'][clean_traindata.fuel_type_id == '-'] = 1
clean_traindata['rated_passenger'] = clean_traindata.rated_passenger.apply(lambda x: get_mean(str(x)) )

In [13]:
clean_traindata['TR'] = clean_traindata['TR'].astype('int')
clean_traindata['engine_torque'] = clean_traindata['engine_torque'].astype('float')
clean_traindata['power'] = clean_traindata['power'].astype('float')
clean_traindata['level_id'] = clean_traindata['level_id'].astype('int')
clean_traindata['fuel_type_id'] = clean_traindata['fuel_type_id'].astype('int')
clean_traindata['rated_passenger'] = clean_traindata['rated_passenger'].astype('int')
clean_traindata['price'] = clean_traindata['price'].astype('float')

#clean_traindata['brand_id'] = clean_traindata['brand_id'].astype('str')
#clean_traindata['class_id'] = clean_traindata['class_id'].astype('str')
#clean_traindata['sale_date'] = clean_traindata['sale_date'].astype('str')
#clean_traindata['type_id'] = clean_traindata['type_id'].astype('str')
clean_traindata.dtypes

sale_date                  int64
class_id                   int64
sale_quantity              int64
brand_id                   int64
compartment                int64
type_id                    int64
level_id                   int64
department_id              int64
TR                         int64
gearbox_type              object
displacement             float64
if_charging               object
price_level               object
price                    float64
driven_type_id             int64
fuel_type_id               int64
newenergy_type_id          int64
emission_standards_id      int64
if_MPV_id                  int64
if_luxurious_id            int64
power                    float64
cylinder_number            int64
engine_torque            float64
car_length                 int64
car_width                  int64
car_height                 int64
total_quality              int64
equipment_quality          int64
rated_passenger            int64
wheelbase                  int64
front_track                int64
rear_track                 int64
dtype: object

In [14]:
#把销售日期拆分成年和月
clean_traindata['year'] = clean_traindata.sale_date.astype('str').apply(lambda x:x[:4]).astype('int')
clean_traindata['month'] = clean_traindata['sale_date'].astype('str').apply(lambda x: x[-2:]).astype('int')
clean_traindata.head(10)

,sale_date,class_id,sale_quantity,brand_id,compartment,type_id,level_id,department_id,TR,gearbox_type,...,car_width,car_height,total_quality,equipment_quality,rated_passenger,wheelbase,front_track,rear_track,year,month
0,201503,103507,58,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,3
0,201504,103507,232,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,4
0,201505,103507,226,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,5
0,201506,103507,286,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,6
0,201507,103507,297,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,7
0,201508,103507,355,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,8
0,201509,103507,442,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,9
0,201510,103507,1050,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,10
0,201511,103507,481,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,11
0,201512,103507,1433,831,2,1,3,3,6,AT,...,1780,1630,1830,1325,5,2590,1557,1570,2015,12

In [15]:
print(clean_traindata['sale_quantity'][(clean_traindata.class_id == 103507) & ( clean_traindata.sale_date== 201701)])
print(df_train['sale_quantity'][(df_train.class_id == 103507) & (df_train.sale_date == 201701)])

0    499
Name: sale_quantity, dtype: int64
2291     29
2323    470
Name: sale_quantity, dtype: int64

In [16]:
lb = LabelEncoder()
#lb = LabelBinarizer()
scaler = MinMaxScaler()
y = clean_traindata['sale_quantity'].astype('int')
train_data = clean_traindata.copy()
unused_features = ['TR', 'emission_standards_id', 'displacement', 'gearbox_type', 'level_id', 'compartment', 
                   'type_id', 'if_charging', 'rated_passenger', 'if_MPV_id', 'driven_type_id', 
                   'if_luxurious_id', 'cylinder_number', 'newenergy_type_id', 'fuel_type_id','sale_quantity',
                  'sale_date','price']
train_data.drop(unused_features,axis=1, inplace=True)
logy = np.log1p(y)
#对特征数据进行处理：数值型进行标准化，条目型进行条目编码
for feature in  train_data.columns:
    if train_data[feature].dtype == 'object':
        train_data[feature] = lb.fit_transform(train_data[feature])        
    #else:
    #    train_data[feature] = scaler.fit_transform(train_data[feature].values.reshape(-1,1))
print("train shape:", train_data.shape)
print("lable shape:", y.shape)

train shape: (6085, 16)
lable shape: (6085,)

In [17]:
gdm = XGBRegressor(learning_rate=0.1, n_estimators=1000, n_jobs=-1, nthread=32,
              seed=0, max_depth=7,gamma=1.0, subsample=0.7)
lr = LinearRegression(n_jobs=-1)
lass = LassoCV(n_jobs=-1, random_state=0, cv=10, tol=1e-4)
mlp = MLPRegressor(hidden_layer_sizes=(100, ), activation='relu', solver='adam', alpha=0.0001,
             batch_size='auto', learning_rate='constant', learning_rate_init=0.001, 
             power_t=0.5, max_iter=200, shuffle=True, random_state=None, tol=0.0001, 
             verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True, 
             early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)
svm = SVR(kernel='rbf', degree=5, gamma=7.0, coef0=0.1, tol=1e-6, C=9.0, 
          epsilon=0.1, shrinking=True, cache_size=200, verbose=False, max_iter=-1)
knn = KNeighborsRegressor(algorithm='brute', leaf_size=10, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=1,
          weights='distance')

In [53]:
eval_model(gdm, train_data, y, False)

eval model XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=1.0, learning_rate=0.1, max_delta_step=0,
       max_depth=7, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=-1, nthread=32, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=0, silent=True,
       subsample=0.7)
score: 175.5272589812308

True

In [ ]:
_, train_scores, test_scores = learning_curve(gdm, train_data, y, cv=1)
print(train_scores)
print(test_scores)

In [42]:
fi = pd.DataFrame({'name':train_data.columns, 'importance': gdm.feature_importances_})
fi.sort_values(['importance'], axis=0, ascending=False, inplace=True)
fi

    importance               name
15    0.347661              month
14    0.260769               year
0     0.104467           class_id
6     0.035921         car_length
1     0.035379           brand_id
8     0.032478         car_height
4     0.026353              power
7     0.023874          car_width
9     0.021230      total_quality
5     0.018456      engine_torque
11    0.016850          wheelbase
10    0.016831  equipment_quality
12    0.015968        front_track
13    0.014646         rear_track
2     0.014600      department_id
3     0.014517        price_level

In [33]:
import time
test_data = pd.DataFrame()
for class_id in df_test.class_id.unique():
    res = train_data[train_data.class_id == class_id].iloc[0,:]
    res['class_id'] = int(class_id)
    res['year'] = 2017
    res['month'] = 11
    test_data = test_data.append(res)
test_data = test_data.reindex(train_data.columns, axis=1)
pred = gdm.predict(test_data)

In [34]:
pred_result = pd.DataFrame({'predict_date': df_test.predict_date, 
                           'class_id': df_test.class_id, 'predict_quantity':np.abs(pred.astype('int'))})
today = time.strftime('%Y%m%d_%H')
pred_result = pred_result.reindex(['predict_date','class_id','predict_quantity'], axis=1)
pred_result.to_csv('./output/yancheng-{}.csv'.format(today), index=False)
pred_result

     predict_date  class_id  predict_quantity
0          201711    103507               433
1          201711    124140               248
2          201711    125403               170
3          201711    136916               159
4          201711    169673               193
5          201711    175962               270
6          201711    178529               128
7          201711    186250               139
8          201711    194201               404
9          201711    194450               277
10         201711    198427               121
11         201711    206765              2047
12         201711    209945               155
13         201711    219195               234
14         201711    221795               302
15         201711    245609               126
16         201711    248352               505
17         201711    249875               122
18         201711    250658               152
19         201711    265980               228
20         201711    270690               683
21         201711    281301               474
22         201711    281792               570
23         201711    289386               324
24         201711    289403               234
25         201711    290854               198
26         201711    291086               363
27         201711    291514                25
28         201711    302513                64
29         201711    304458               671
..            ...       ...               ...
110        201711    745137              1029
111        201711    750340                97
112        201711    760412               125
113        201711    786351               394
114        201711    789290               128
115        201711    810398                90
116        201711    815230               215
117        201711    819061                13
118        201711    842246               196
119        201711    851857               225
120        201711    854079               274
121        201711    854548               171
122        201711    861459               331
123        201711    871642               117
124        201711    872180               165
125        201711    883691               291
126        201711    890189              1240
127        201711    905061               370
128        201711    905745               150
129        201711    914348               731
130        201711    923841               607
131        201711    924154              1114
132        201711    948936                52
133        201711    950264              1197
134        201711    953842               980
135        201711    961362               116
136        201711    961962                89
137        201711    963845               228
138        201711    973106                99
139        201711    978089               339

[140 rows x 3 columns]

In [398]:
clean_traindata[['sale_date','sale_quantity']][train_data.class_id == 819061]

     sale_date  sale_quantity
130     201610            553
130     201407            468
130     201504            646
130     201609            429
130     201302            531
130     201406            382
130     201703            304
130     201608            413
130     201405            469
130     201412            624
130     201702            375
130     201404            492
130     201411            749
130     201701            608
130     201403            617
130     201410            632
130     201207            437
130     201402            554
130     201409            546
130     201206            360
130     201401           1077
130     201311            562
130     201408            359
130     201301            741
130     201205            421
130     201204            414
130     201309            648
130     201203            351
130     201308            444
130     201202            430
..         ...            ...
130     201607            258
130     201706            219
130     201606            936
130     201705            281
130     201212            819
130     201605            718
130     201704            140
130     201211            562
130     201604            226
130     201210            719
130     201603            812
130     201209            547
130     201602           1794
130     201208            523
130     201601           1888
130     201511           1296
130     201310            546
130     201503            852
130     201510           2910
130     201502            921
130     201509           1334
130     201501           1178
130     201508            632
130     201512           3284
130     201507            547
130     201612           1014
130     201506            600
130     201303            460
130     201611            562
130     201505            468

[70 rows x 2 columns]